@import "@edgedb/common/mixins.scss";

.resultGrid {
  position: relative;
}

.header {
  position: relative;
  padding: 8px 12px;
  overflow: clip;
  font-size: 13px;
  white-space: nowrap;

  &.hasSubheaders {
    color: var(--secondary_text_color);
    border-bottom: 1px solid var(--panel_border);
    margin: 0 8px;
    padding: 8px 4px;

    .headerName {
      position: sticky;
      left: 12px;
      width: max-content;
    }
  }

  .typename {
    font-size: 11px;
    color: var(--tertiary_text_color);
    margin-top: 2px;
  }
}

.cellContent {
  height: 39px;
  line-height: 38px;
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;

  &.stickyCell {
    position: sticky;
    top: var(--gridHeaderHeight);
  }
}

.copyButton {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 10;
  font-family: "Roboto Flex Variable", sans-serif;
  font-size: 13px;
  height: 32px;
  padding: 0 6px 0 8px;
  gap: 0px;
  color: var(--secondary_text_color);
  opacity: 0;
  transition: opacity 0.2s;

  .resultGrid:hover & {
    opacity: 1;
  }

  svg {
    width: 20px;
  }

  @include darkTheme {
    background-color: var(--Grey25);
  }
}
