@use "@edgedb/common/mixins.scss";

.cloudLogo {
  @include mixins.isMobile {
    width: 37px;
  }
}
.gel {
  fill: var(--Grey30);
  @include mixins.darkTheme {
    fill: var(--Grey65);
  }
}
.cloud {
  fill: var(--Grey65);
  @include mixins.darkTheme {
    fill: var(--Grey40);
  }
}
.beta {
  fill: #08b985;
  @include mixins.darkTheme {
    fill: #358b6c;
  }
}
