@import "@edgedb/common/mixins.scss";

.userMenu {
  position: relative;
  display: flex;
  z-index: 100;
}

.userMenuSkeleton {
  margin-left: auto;
  width: 32px;
  height: 32px;
  border-radius: 16px;

  --skeletonBg: #f5f5f5;
  --skeletonShimmer: #fafafa;

  @include darkTheme {
    --skeletonBg: #242424;
    --skeletonShimmer: #323232;
  }
}

.menuButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--Grey70);
  background-size: cover;
}

.menuContent {
  color: var(--main_text_color, #4d4d4d);
  font-family: "Roboto Flex Variable", sans-serif;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  position: relative;

  @include darkTheme {
    --main_text_color: #ccc;
    --tertiary_text_color: #999;
  }
}

.menuItemsList {
  display: flex;
  padding: 6px;
  flex-direction: column;
  gap: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.menuItem {
  display: flex;
  padding: 8px 6px 8px 12px;
  align-items: center;
  justify-content: space-between;
  min-height: 24px;
  border-radius: 6px;
  gap: 10px;
  color: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;

  svg {
    color: var(--Grey50, #808080);
    flex-shrink: 0;
  }

  &.hasAction {
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);

      @include darkTheme {
        background: var(--Grey25, #404040);
      }
    }
  }

  > span {
    display: flex;
    align-items: center;
    gap: 2px;

    svg {
      width: 18px;
      height: 18px;
      color: var(--Gray60, #999999);
    }
  }
}

.userCard {
  display: flex;
  padding: 10px 14px;
  padding-left: 18px;
  min-height: 42px;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  > svg {
    height: 20px;
    color: #808080;
    flex-shrink: 0;
  }

  .info {
    display: flex;
    padding: 2px 0px;
    flex-direction: column;
    gap: 1px;
    color: var(--tertiary_text_color, #808080);
    font-weight: 450;
    line-height: 18px;
    margin-right: 16px;
    min-width: 0;

    .name {
      color: var(--main_text_color, #4d4d4d);
      font-weight: 500;
    }

    .name,
    .subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.menuDropdown {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  min-width: 300px;
  max-width: 360px;
  border-radius: 12px 0 12px 12px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  box-shadow:
    0px 4px 16px 0px rgba(0, 0, 0, 0.16),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08);

  @include darkTheme {
    --panel_background: #363636;
    box-shadow:
      0px 4px 16px 0px rgba(0, 0, 0, 0.28),
      0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  }
}
